*{
    margin: 0;
    padding: 0;
    font-family:"gillroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(152, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}
#panel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    gap: 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(11, 112, 112);
     display: flex;
     align-items: center;
     padding: 0 30%;
     justify-content: space-between;
}
.elem{
    /* width: 10%; */
    display: flex;
    /* background-color: red; */
    align-items: center;
    gap: 20px;
    color: rgb(117, 146, 74);
}
.box{
    padding: 0.3vw 0.3vw;
    background-color: #fff;
    border-radius: 0.1vw;
    font-weight: 800;
    font-size: 1.4vw
}
h2{
    color: #fff;
    font-size: 1.4vw;
}
#pbtm{
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
   padding: 10px ;
   gap: 10px;
   padding-bottom: 5px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(50, 142, 142);
    color: aqua;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(64, 162, 162);;
}

@media(max-width:400px){
    #ptop{
        flex-direction: column;
        padding: 10px 20px;
    }
    .elem h2{
        font-size: 8px;
    }
    .box{
        font-size: 8px;
        padding: 0 2px;
    }
    #panel{
        height: 92%;
    }
    #pbtm{
        gap: 12px;
    }
}